@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {

    --gray1-color: #313338;
    --gray2-color: #2B2D31;
    --gray3-color: #26262a;
    --gray4-color: #1E1F22;
    --gray5-color: #141517;

    --white1-color: #FFFFFF;
    --white2-color: #F2F3F5;

  }
}
